
/*font-family  'Montserrat', sans-serif */

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    color: rgb(73, 71, 71);
}

/*header */

header {
    position: fixed;
    height: 64px;
    width: 100%;
    z-index: 10;
    background-color: white;
    top: 0px;
}

.img-wrap {
    width: 60%;
    max-height:auto;
    margin: 32px 24px;

}

header .img-wrap {
    height: 32px;
    width:auto;
    padding-top: 17px;
    padding-left: 24px;
}
header p {
    display: inline;
    position: absolute;
}
#colmar {
    font-weight: 500;
    color:  rgb(73, 71, 71);
    font-size: 20px;
}
#academy {
    font-weight: 300;
    color: gray;
    font-size: 20px;
    padding-left: 95px;
    }

header ul {
    margin: 24px;
    display: inline;
    float: right;
}
header ul li {
    display: inline;
    padding: 16px;
}
@media screen and (max-width: 670px) {
    .desktop {
        display: none;
    }
    #header {
        display: flex;
        justify-content: space-around;

    }
    #header .img-wrap {
        padding-left:0;
    }
}
@media screen and (min-width: 670px) {
    .mobile {
        display: none;
    }
}

/*section about */
.about {
    background-color: lightgray;
    padding-top: 56px;
    margin-top: 0;
    list-style: none;

    }
.about .img-wrap {
    padding: 32px 24px;
    width: 60%;
    float: left;
    overflow: auto;
    clear:right;
}
.about p {
    margin-top: 0;
    padding-right: 24px;
    }
.about h1 {
    padding-top: 100px;
    padding-right: 24px;
}

#button {
  background-color: rgb(73, 71, 71);
  border: none;
  color: white;
  padding: 8px 70px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
#btn {
    clear:both;
}

@media screen and (max-width: 670px) {
    .about {
        display:flex;
        flex-flow: column wrap;
        align-content:center;
        align-items:center;
    }

    .about .img-wrap {
       padding: 0;
       width:100%;
    }
    .about h1 {
        padding: 32px 16px;
        margin: 0;
    }
    .about p {
        padding: 0px 16px 24px 16px;
        margin: 0;
    }
    #button {
        margin-bottom: 32px;
    }
}

/*section info */

.practice {
        display: flex;
        width: 100%;
        padding-bottom: 32px;
        color:rgb(70, 68, 68);
        font-family: Arial, Helvetica, sans-serif;
    }

    .p_left {
        width: 60%;
    }

    .p_left .img-wrap2 {
        width: 100%;
    }

    .p_left h1, .p_left p {
        padding-left: 16px;
    }

    .p_right {
        width: 40%;
    }

    .orientation, .campus, .guest {
        display: flex;
    }

    .guest {
        background-color: lightgray;
    }

    .orientation .img-wrap, .campus .img-wrap, .guest .img-wrap6 {
        width: 35%;
        height: auto;
        padding: 16px;
    }

    .orientation_date, .our_campus, .guest_lecture {
        width: 65%;
        padding: 8px;
    }

    .read_more {
        color: rgb(0, 132, 255);
    }


/*section desktop*/

.courses-main {
    background-color: rgb(238, 231, 231);
}
.courses-main h2,#mobile-h2-courses {
    margin: 0;
    padding-top: 32px;
    text-align: center;
    font-weight: 900;

}

.courses2 {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 66px;
}
.courses-line .img-wrap {
    display: flex;
}

.courses-block  {
    width: 100%;
}

.courses-block {
margin: 16px;
background-color: white;
width:100%
}
.courses-block h4 {
padding: 16px;
margin: 0;
}
.courses-block p {
    padding: 8px 16px;
    font-weight: 400;
    margin:0;
}

/*mobile*/
@media screen and (max-width: 670px) {
    #mobile-courses-section {
        border-top: solid 1px lightgray;
        border-bottom: solid 1px lightgray;
    }
    .button-div {
        display: flex;
        flex-flow: wrap column;
        padding-top: 8px;
        padding-bottom: 24px;
    }
.button-courses {
    background-color: lightgray;
    border: none;
    color: rgb(73, 71, 71);
    padding: 16px 16px 24px 16px;
    text-align:start;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin: 8px;
  }
}

/* thesis */

.thesis-main h2 {
    padding-top: 32px;
    text-align: center;
    font-weight: 900;
    margin: 0;
}
.thesis2 {
    display: flex;
    padding: 32px 0 ;
    border-bottom: solid 1px lightgray;
}

/* video */

.video {
    padding: 0 24px;
     }
.video video {
    width: 100%;
        }
.video h4 {
    margin: 24px 0;
}
.thesis2 p {
    margin-bottom: 32px;
    font-weight: 400;
}

/* thesis-blocks */

.thesis-block {
    display: flex;
        }
.block-text {
    padding-right: 30px;
}
.thesis-block .img-wrap13 {
    min-width: 35%;
    height: auto;
    padding: 16px;
    flex-basis: 122px;
    }
   #thesis-block1 {
       background-color: lightgrey;
   }
   /*thesis-mobile */

   @media screen and (max-width: 670px) {
    .thesis2 {
        padding: 16px 0 24px 0;
        border-bottom: none;
     }
     .video {
        padding: 0;
         }

   }

   /*footer */

   footer p {
    font-weight: 500;
    color: rgb(136, 133, 133);
    padding: 16px 24px;
    font-size: 14px;
    display: inline-block;
    margin: 0;

   }
   footer a {
       color: rgb(136, 133, 133);
       text-decoration: none;
       font-size: 14px;
       font-weight: 500;
       display: inline-block;
       padding-top: 16px ;
       padding-right: 24px;
       margin-top: 0;
    }
